{% extends 'base_page.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div>
            <div class="mb-2">
                <h1>All Caregivers</h1>
            </div>
            <ul>
                {% if caregivers %}
                    {% for caregiver in caregivers %}
                        <div class="user-details border p-3 mb-3">
                            <strong>Name:</strong> {{ caregiver.caregiver_user.given_name }} {{ caregiver.caregiver_user.surname }}<br>
                            <strong>Email:</strong> {{ caregiver.caregiver_user.email }}<br>
                            <strong>Phone number:</strong> {{ caregiver.caregiver_user.phone_number }}<br>
                            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'view_applicant' caregiver.caregiver_user_id %}">View Profile</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="alert alert-warning">No results found.</p>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}