{% extends 'base_page.html' %}

{% block content %}
  <div class="container">
    <h2>Complete Registration</h2>
    {% if user_type == 'member' %}
      <form method="post" action="{% url 'complete_registration' %}">
        {% csrf_token %}
        {{ member_form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    {% elif user_type == 'caregiver' %}
      <form method="post" enctype="multipart/form-data" action="{% url 'complete_registration' %}">
        {% csrf_token %}
        {{ caregiver_form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    {% endif %}
  </div>

  <style>
    body {
      background-color: #e7f0f7; /* Light blue background color */
      padding: 20px;
    }

    .container {
      max-width: 600px; /* Adjust the container width as needed */
      margin: auto;
      background-color: #ffffff; /* White background for the form */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    }

    h2 {
      color: #007bff; /* Set your desired heading color */
    }

    form {
      margin-top: 20px;
    }

    button {
      margin-top: 10px;
      font-size: 18px; /* Increase button font size */
    }
  </style>
{% endblock %}
